@page "/lists"

<div><h1>My Lists</h1></div>


@if (DisplayList != null)
{
<div class="media-grid">
    @foreach (var thing in DisplayList.All)
    {
    <div class="grid-item">
        <img src="@thing.Poster" style="object-fit: cover;" />
        <p>@thing.Streaming</p>
    </div>
    }
</div>
}
  

    <button @onclick="@(()=>UpdateFilter("movie"))">Movies Only</button>
    <button @onclick="@(()=>UpdateFilter("netflix"))">Netflix</button>

    @code {
        [Parameter]
        public List DisplayList { get; set; }
        public bool Filter { get; set; } = true;

        private void UpdateFilter(string filter)
        {
            if (filter == "movie")
            {
                DisplayList.All = DisplayList.All.Where(x => x.Type == filter).ToList();
            }

            if (filter == "netflix")
            {
                DisplayList.All = DisplayList.All.Where(x => x.Netflix == true).ToList();
            }

            StateHasChanged();

        }
    }